@import "../../styles/variables.scss";
@import "../../styles/global-style.scss";
@font-face {
  font-family: "Helvetica";
  src: url("../../static/fonts/Helvetica-Light.ttf") format("truetype");
}
.uxDesign {
  img {
    width: auto;
  }
  .svgWidth {
    width: 160px;
    height: 90px;
    margin-bottom: 20px;
  }
}
.wrap {
  position: relative;
  .tex-center {
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;

    hr {
      position: absolute;
      width: 90%;
      height: 1px;
      top: 40%;
      left: 5%;
      background-color: $spaceship;
    }
  }
  .line {
    border-bottom: 1px solid #000;
    position: absolute;
    width: 80%;
    top: 50%;
  }
}

.inline-flex {
  display: inline-flex;
}

ol,
li {
  font-size: 18px;
  line-height: 28px;
  color: $dark;
  font-family: "Helvetica";
}
.shadowBox {
  margin-top: 80px;
  padding: 20px 40px 10px;
  -webkit-box-shadow: 1px 4px 13px 2px rgba(94, 80, 198, 0.63);
  box-shadow: 1px 4px 13px 2px rgba(94, 80, 198, 0.63);
}
.circle {
  border: 2px solid $dark;
  padding: 22px 15px 8px;
  border-radius: 50%;
  p {
    &.HighlightedQuotes {
      line-height: 0px;
    }
  }
}
.justify-content-md-center {
  .HighlightedQuotes {
    span {
      font-size: 30px;
      text-decoration: line-through;
      color: $base-medium-grey;
    }
  }
}
