@import "../../../styles/variables";
@import "../../../styles/desktop.scss";
@import "../../../styles/mobile.scss";
@import "../../../styles/mixins.scss";

.Paragraph {
  &.xl {
    @include p-mobile-one;
    @include respond(md) {
      @include p-desktop-one;
    }
  }

  &.lg {
    @include p-mobile-two;
    @include respond(md) {
      @include p-desktop-two;
    }
  }

  &.md {
    @include p-mobile-three;
    @include respond(md) {
      @include p-desktop-three;
    }
  }

  &.sm {
    @include p-mobile-four;
    @include respond(lg) {
      @include p-desktop-four;
    }
  }

  &.xs {
    @include p-desktop-fifth;
    @include respond(md) {
      @include p-desktop-fifth;
      margin-bottom: 20px;
    }
  }

  &.primary {
    color: $primary;
  }
  &.white {
    color: $base-white;
  }
  &.dark {
    color: $dark;
  }
  &.grey {
    color: $base-medium-grey;
  }
}
