@import "../../../styles/variables";
@import "../../../styles/desktop.scss";
@import "../../../styles/mobile.scss";
@import "../../../styles/mixins.scss";

.h1 {
  @include h1-mobile;
  margin-bottom: 20px;
  @include respond(md) {
    @include h1-desktop;
    margin-bottom: 30px;
  }
}

.h2 {
  @include h2-mobile;
  @include respond(md) {
    @include h2-desktop;
  }
}

.h3 {
  @include h3-mobile;
  @include respond(md) {
    @include h3-desktop;
  }
}

.h4 {
  @include h4-mobile;
  @include respond(md) {
    @include h4-desktop;
  }
}

.h5 {
  @include h5-mobile;
  @include respond(md) {
    @include h5-desktop;
  }
}

.h6 {
  @include h6-mobile;
  @include respond(md) {
    @include h6-desktop;
  }
}

.primary {
  color: $primary;
}
.white {
  color: $base-white;
}
.blue {
  color: $base-blue;
}
.royal {
  color: $base-dark-grey;
}
