@import "../../../styles/variables";
@import "../../../styles/desktop.scss";
@import "../../../styles/mobile.scss";
@import "../../../styles/mixins.scss";

.h1 {
  @include h1-mobile;
  margin-bottom: 20px;
  @include respond(md) {
    @include h1-desktop;
    margin-bottom: 30px;
  }
  &.isInner {
    @include h1-mobile-inner;
    @include respond(md) {
      @include h1-desktop-inner;
    }
  }
}

.h2 {
  @include h2-mobile;
  @include respond(md) {
    @include h2-desktop;
  }
  &.isInner {
    @include h2-mobile-inner;
    margin-bottom: 5px;
    @include respond(md) {
      @include h2-desktop-inner;
    }
  }
}

.h3 {
  @include h3-mobile;
  @include respond(md) {
    @include h3-desktop;
  }
  &.isInner {
    @include h3-mobile-inner;
    @include respond(md) {
      @include h3-desktop-inner;
    }
  }
}

.h4 {
  @include h4-mobile;
  @include respond(md) {
    @include h4-desktop;
  }
}

.h5 {
  @include h5-mobile;
  @include respond(md) {
    @include h5-desktop;
  }
}

.h6 {
  @include h6-mobile;
  @include respond(md) {
    @include h6-desktop;
  }
}
.italic {
  font-style: italic;
}
.primary {
  color: $primary;
}
.white {
  color: $base-white;
}
.blue {
  color: $base-blue;
}
.royal {
  color: $base-dark-grey;
}
.spaceship {
  color: $spaceship;
}
.dark {
  color: $dark;
}
