@import "../../../styles/variables.scss";
@import "../../../styles/desktop.scss";
@import "../../../styles/mixins.scss";

@font-face {
  font-family: "Helvetica-Medium";
  src: url("../../../static/fonts/Helvetica-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.Linkbtns {
  background-color: $base-white;
  color: $spaceship;
  border-radius: 28px;
  cursor: pointer !important;
  border-color: $spaceship;
  border-style: solid;
  font-family: "Helvetica-Medium";
  border-width: 1px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 54px;
  &.large {
    width: 320px;
    font-size: 24px;
    max-width: 100%;
    @include respond(md) {
      width: 400px;
    }
  }
  &.small {
    width: 70px;
    font-size: 12px;
    height: 30px;

    @include respond(sm) {
      width: 140px;
      height: 54px;
      font-size: 18px;
    }
    @include respond(lg) {
      width: 180px;
      font-size: 18px;
      height: 54px;
    }
  }

  &.active {
    background-color: $spaceship;
    color: $base-white;
  }

  &:hover {
    background-color: $spaceship;
    color: $base-white;
  }
}
