@import "../../../styles/variables.scss";

@font-face {
  font-family: "Century-Gothic";
  src: url("../../../static/fonts/GOTHIC.TTF") format("truetype");
}

span {
  &.Quote {
    font-family: "Century-Gothic";
    font-size: 104px;
    color: $dark;
  }
}
