@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

@font-face {
  font-family: "Roboto-Medium";
  src: url("../../../static/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

span {
  &.Quote {
    font-family: "Roboto-Medium";
    font-size: 40px;
    color: $dark;
    @include respond(md) {
      font-size: 104px;
    }
  }
}
