// Desktop inheritance
@import "./variables.scss";
@import "./mixins.scss";

@font-face {
  font-family: "Futura-Light";
  src: url("../../../static/fonts/futura_light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura-Medium";
  src: url("../../../static/fonts/FuturaPTLight.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura-Book";
  src: url("../../../static/fonts/FuturaPTBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Light";
  src: url("../../../static/fonts/Helvetica-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@mixin h1-desktop {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 2px;
  font-family: "Futura-Light";
}

@mixin h2-desktop {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1.1px;
  font-family: "Futura-Medium";
}

@mixin h3-desktop {
  font-size: 36px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 1.2px;
}

@mixin h4-desktop {
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 1.2px;
}

@mixin h5-desktop {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1.2px;
}

@mixin h6-desktop {
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 1.2px;
}
@mixin p-desktop-one {
  font-size: 180px;
  font-weight: 900;
  line-height: 157px;
  letter-spacing: 2.5px;
  font-family: "Futura-Light";
  transform: scale(1);
  @include respond(lg) {
    transform: scale(1.1);
  }
}

@mixin p-desktop-two {
  font-size: 124px;
  font-weight: 600;
  line-height: 106px;
  letter-spacing: 1.2px;
  font-family: "Futura-Book";
  color: $base-medium-grey;
}

@mixin p-desktop-three {
  font-size: 124px;
  font-weight: 600;
  line-height: 157px;
  letter-spacing: 1.24px;
  font-family: "Futura-Book";
}

@mixin p-desktop-four {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 1.2px;
  font-family: "Futura-Light";
}

@mixin p-desktop-fifth {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 1px;
  font-family: "Helvetica-Light";
}
