// Desktop inheritance

@mixin h1-desktop {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 2px;
}

@mixin h2-desktop {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1.1px;
}

@mixin h3-desktop {
  font-size: 36px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 1.2px;
}

@mixin h4-desktop {
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 1.2px;
}

@mixin h5-desktop {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1.2px;
}

@mixin h6-desktop {
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 1.2px;
}
@mixin p-desktop-one {
  font-size: 180px;
  font-weight: 700;
  line-height: 157px;
  letter-spacing: 1.2px;
}

@mixin p-desktop-two {
  font-size: 124px;
  font-weight: 700;
  line-height: 106px;
  letter-spacing: 1.2px;
}

@mixin p-desktop-three {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 1.2px;
}
