// Inheritance for mobile

@mixin h1-mobile {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1.2px;
}

@mixin h2-mobile {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1.2px;
}

@mixin h3-mobile {
  font-size: 28px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 1.2px;
}

@mixin h4-mobile {
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 1.2px;
}

@mixin common-typography {
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1.2px;
}

@mixin h5-mobile {
  font-size: 18px;
  @include common-typography;
}

@mixin h6-mobile {
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 1.2px;
}

@mixin p-mobile-one {
  font-size: 100px;
  font-weight: 700;
  line-height: 97px;
  letter-spacing: 1.2px;
}

@mixin p-mobile-two {
  font-size: 84px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 1.2px;
}

@mixin p-mobile-three {
  font-size: 84px;
  font-weight: 700;
  line-height: 97px;
  letter-spacing: 1.2px;
}

@mixin p-mobile-four {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 1.2px;
}
