// Desktop inheritance
@import "./variables.scss";

@font-face {
  font-family: "Futura-Light";
  src: url("../../../static/fonts/futura_light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura-Medium";
  src: url("../../../static/fonts/FuturaPTLight.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura-Book";
  src: url("../../../static/fonts/FuturaPTBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Light";
  src: url("../../../static/fonts/Helvetica-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../../../static/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Century-Gothic";
  src: url("../../../static/fonts/GOTHIC.ttf") format("truetype");
}

@mixin h1-mobile {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1.2px;
  font-family: "Futura-Light";
}

@mixin h1-mobile-inner {
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1.2px;
  font-family: "Helvetica-Light";
}

@mixin h2-mobile {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1.2px;
  font-family: "Futura-Medium";
}
@mixin h2-mobile-inner {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1.2px;
  font-family: "Century-Gothic";
  font-style: italic;
}

@mixin h3-mobile {
  font-size: 28px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 1.2px;
}

@mixin h3-mobile-inner {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.2px;
  font-family: "Helvetica-Light";
}

@mixin h4-mobile {
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 1.2px;
}

@mixin common-typography {
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1.2px;
}

@mixin h5-mobile {
  font-size: 18px;
  @include common-typography;
}

@mixin h6-mobile {
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 1.2px;
}

@mixin p-mobile-one {
  font-size: 80px;
  font-weight: 700;
  line-height: 87px;
  letter-spacing: 1.2px;
  font-family: "Futura-Light";
}

@mixin p-mobile-two {
  font-size: 74px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 1.2px;
  font-family: "Futura-Book";
  color: $base-medium-grey;
}

@mixin p-mobile-three {
  font-size: 84px;
  font-weight: 700;
  line-height: 97px;
  letter-spacing: 1.2px;
  font-family: "Futura-Book";
}

@mixin p-mobile-four {
  font-size: 36px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 1.2px;
  font-family: "Futura-Light";
}
@mixin p-mobile-fifth {
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
  letter-spacing: 1px;
  font-family: "Roboto-Light";
}
