@import "../../../styles/variables.scss";
@import "../../../styles/desktop.scss";

@font-face {
  font-family: "Helvetica-Light";
  src: url("../../../static/fonts/Helvetica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.baselink {
  cursor: pointer;
  text-decoration: none;
  color: $dark;
  font-family: "Helvetica-Light";
  font-size: 24px;
  line-height: 32px;
  z-index: 9999;
  &:hover,
  &:active {
    color: $dark;
    text-decoration: none;
    border-bottom: 3px solid $primary;
  }
  &.isHover {
    text-decoration: none;
    border-bottom: none;
  }
}
