@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

@font-face {
  font-family: "Roboto-Light";
  src: url("../../../static/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../../../static/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
p {
  &.BulletSection {
    font-size: 16px;
    line-height: 28px;
    color: $dark;
    font-family: "Roboto-Light";
    &.inline {
      display: inline;
      padding-left: 0px;
      padding-right: 3px;
    }

    @include respond(sm) {
      font-size: 18px;
    }
    b {
      font-weight: 500;
      font-family: "Roboto-Medium";
    }
    &.bold {
      font-weight: 500;
      font-family: "Roboto-Medium";
      &.largeSize {
        font-size: 20px;
        @include respond(md) {
          font-size: 24px;
        }
      }
    }

    &.largeSize {
      font-size: 16px;
      text-align: left;
      @include respond(md) {
        font-size: 24px;
      }
    }

    &.template {
      font-size: 16px;
      line-height: 26px;
    }
    &.caption {
      font-size: 14px;
      font-style: italic;
      line-height: 22px;
    }

    &.italic {
      font-style: italic;
    }
  }
}
