@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

@font-face {
  font-family: "Century-Gothic";
  src: url("../../../static/fonts/CGothic.ttf") format("truetype");
  font-style: normal;
}
p {
  &.HighlightedQuotes {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    color: $dark;
    font-family: "Century-Gothic";
    @include respond(sm) {
      font-size: 30px;
      line-height: 40px;
    }
    span {
      font-size: 40px;
      color: $dark;
    }
  }
}
