@import "../../../styles/variables.scss";

@font-face {
  font-family: "Century-Gothic";
  src: url("../../../static/fonts/GOTHIC.ttf") format("truetype");
}

.HighlightedQuotes {
  font-size: 30px;
  line-height: 40px;
  color: $dark;
}
