@import "../../../styles/variables.scss";
@import "../../../styles/desktop.scss";

@font-face {
  font-family: "Futura-Light";
  src: url("../../../static/fonts/futura_light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.carousel-caption {
  text-align: left;
  background-color: $primary;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Futura-Light";
}
.carousel-control-next,
.carousel-control-prev {
  display: none;
}

.carousel-indicators {
  li {
    width: 10px;
    height: 10px;
    background-color: $primary;
    border: 2px solid $base-white;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;

    &.active {
      background-color: $background-gray;
      border-color: $background-gray;
    }
  }
}
