@import "../../../styles/variables.scss";
@import "../../../styles/desktop.scss";

.carousel-caption {
  text-align: left !important;
  background-color: $primary;
  position: relative !important;
  right: 30px !important;
  bottom: 0;
  left: 30px !important;
  font-family: "Futura-Light";
}
.carousel-control-next,
.carousel-control-prev {
  display: none !important;
}

.carousel-indicators {
  left: auto !important;
  margin-right: 0% !important;
  li {
    width: 10px !important;
    height: 10px !important;
    border: 2px solid $base-white !important;
    border-radius: 50% !important;
    margin-left: 10px !important;
    margin-right: 10px !important;

    &.active {
      background-color: $background-gray !important;
      border-color: $background-gray !important;
    }
  }
}
