.template {
  .center-img {
    display: flex;
    justify-content: center;
    .HeroImage {
      height: 436px !important;
      width: 1190px;
    }
  }

  .placeHolder {
    padding: 35px;
    background-color: #f0f0f0;
  }
}
