@import "../../../styles/variables";
.mouse-icon {
  border: 1px solid $primary;
  border-radius: 26px;
  height: 120px;
  width: 10px;
  display: block;
  z-index: 10;
  background-color: $primary;
}
.mouse-icon .wheel {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-name: drop;
  animation-name: drop;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.mouse-icon .wheel {
  position: relative;
  border-radius: 10px;
  background: $base-white;
  width: 2px;
  height: 6px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}
@-webkit-keyframes drop {
  0% {
    top: 15px;
    opacity: 0;
  }
  30% {
    top: 35px;
    opacity: 1;
  }
  50% {
    top: 55px;
    opacity: 1;
  }
  70% {
    top: 75px;
    opacity: 1;
  }
  90% {
    top: 87;
    opacity: 0.5;
  }
  100% {
    top: 95px;
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    top: 15px;
    opacity: 0;
  }
  30% {
    top: 35px;
    opacity: 1;
  }
  50% {
    top: 55px;
    opacity: 1;
  }
  70% {
    top: 75px;
    opacity: 1;
  }
  90% {
    top: 87;
    opacity: 0.5;
  }
  100% {
    top: 95px;
    opacity: 0;
  }
}
