div {
  .FlexBox {
    width: 100%;
    word-wrap: break-word;
    padding-top: 40px;
    padding-bottom: 40px;
    &.flex-900 {
      max-width: 900px;
    }
    &.flex-800 {
      max-width: 800px;
    }
    &.flex-700 {
      max-width: 700px;
    }
    &.flex-540 {
      max-width: 540px;
    }
    &.flex-340 {
      max-width: 340px;
    }
    &.flex-300 {
      max-width: 300px;
    }
    &.flex-270 {
      max-width: 270px;
    }
    &.flex-50 {
      max-width: 50px;
    }
  }
}
