@import "../../../style/utilities/mixins";
@import "../../../style/utilities/variables";
@import "~bootstrap/scss/bootstrap";

html {
  box-sizing: border-box;
  font-family: "Limerick", Arial, sans-serif;
  color: $base-medium-grey;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0 auto;
}

$font-storage-domain: "https://static-getcaribou.s3.ca-central-1.amazonaws.com/fonts";

@font-face {
  font-family: "Limerick-bold";
  src: url("#{$font-storage-domain}/limerick-serial-bold.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Limerick-Medium";
  src: url("#{$font-storage-domain}/limerick-serial-medium-regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Limerick";
  src: url("#{$font-storage-domain}/limerick-serial-light-regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

// including some bootstrap resets here
.container {
  margin: 0 auto !important;
}

.container-fluid {
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.row {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}
