@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.newNav {
  max-width: 1440px;
  width: auto;
  margin: auto;

  .navbar {
    max-width: 1260px;
    margin: auto;
    padding-top: 10px;
    @include respond(sm) {
      padding-top: 50px;
    }
    .navLinks {
      margin: 0px 10px;
      @include respond(sm) {
        margin: 0px 10px;
      }
      @include respond(md) {
        margin: 0px 42px;
      }
      &.right {
        @include respond(md) {
          margin-right: 80px;
        }
      }
    }

    .socialIcon {
      display: none;
      @include respond(sm) {
        margin: 0px 5px;
        display: block;
      }
    }
  }
}
