@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.newNav {
  max-width: 1440px;
  width: auto;
  margin: auto;

  .navbar {
    max-width: 1220px;
    margin: auto;
    .navLinks {
      margin: 0px 10px;
      @include respond(sm) {
        margin: 0px 10px;
      }
      @include respond(md) {
        margin: 0px 35px;
      }
    }

    .socialIcon {
      display: none;
      @include respond(sm) {
        margin: 0px 5px;
        display: block;
      }
    }
  }
}
