@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.newNav {
  max-width: 1440px;
  width: auto;
  margin: auto;
  &.Grey {
    background-color: $base-light-grey;
  }
  &.Primary {
    background-color: $primary;
  }
  &.White {
    background-color: $base-white;
  }
  .navbar {
    .navLinks {
      margin: 0px 10px;
      @include respond(sm) {
        margin: 0px 10px;
      }
      @include respond(md) {
        margin: 0px 30px;
      }
    }

    .socialIcon {
      display: none;
      @include respond(sm) {
        margin: 0px 8px;
        display: block;
      }
    }
  }
}
