@import "../../../styles/mixins";
@import "../../../style/variables";

.Section {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  @include respond(md) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &.Grey {
    background-color: $base-light-grey;
  }
  &.Primary {
    background-color: $primary;
  }
  &.White {
    background-color: $base-white;
  }
  .rightNoPadding {
    text-align: left;
    border: none;
    margin: auto;

    // @include respond(sm) {
    //   text-align: right;
    //   border-right: 2px solid $accent-periwinkle-blue;
    //   margin-right: 0px;
    // }
  }
  .leftNoPadding {
    margin-left: 0px;
  }
}
