@import "../../../styles/mixins";
@import "../../../styles/variables";

.Section {
  margin: auto;
  width: auto;
  max-width: 1440px;
  height: 1020px;
  min-height: 1020px;
  position: relative;
  @include respond(sm) {
    height: 750px;
    min-height: 750px;
  }
  @include respond(md) {
    max-width: 1440px;
    height: 900px;
    min-height: 900px;
  }
  &.Grey {
    background-color: $base-light-grey;
  }
  &.Primary {
    background-color: $primary;
  }
  &.White {
    background-color: $base-white;
  }
  .rightNoPadding {
    text-align: left;
    border: none;
    margin: auto;
  }
  .leftNoPadding {
    margin-left: 0px;
  }
}
